
.metricsStyleContainer {
    display: flex;
    align-items: center;
}

.metricsContainer {
    display: flex;
}

.addMetricButtonContainer {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}