h2 {
    margin-left: 24px !important;
}

.inputFields {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.inputLeft {
    display: flex;
    flex-direction: column;
}

.inputRight {
    display: flex;
    flex-direction: column;
}

.fieldSegment {
    background-color: rgb(241, 190, 95) !important;
    padding: 8px !important;
}

.submitContainer {
    margin-top: 24px;
    margin-left: 24px;
}
